.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
html/**
**/*.map
.gitignore
tsconfig.json
tslint.json
.travis.yml
gulpfile.js
*.vsix
.github/**
*.log
webpack.config.js
node_modules/**
vendor/**
azure-pipelines.yml
build/**
assets/platform/**

# A platform-specific directory in assets/platform/ will be added to the end of
# this file by the packaging script.
