$theme-night-bgcolor: #1a1a1a;
$theme-night-bgcolor-hover: #333;
$theme-night-color: #ccc;
$theme-night-border-color: #505050;

html.theme-night body {
    background-color: $theme-night-bgcolor;
    color: $theme-night-color;

    .theme-bgcolor {
        background-color: $theme-night-bgcolor;
    }

    .theme-bgcolor-hover {
        background-color: $theme-night-bgcolor-hover
    }

    .theme-color {
        color: $theme-night-color;
    }

    .theme-border {
        border: 1px double $theme-night-border-color;
    }
}
