.board {
    padding: 5px 10px;
    margin: 10px;
    border: 1px double black;
}

.board-header {
    font-weight: bold;
}

.installed-header {
    font-weight: bold;
    color: lightseagreen;
}

.board-footer {
    overflow: hidden;
}

.operation {
    float: right;
}