a {
    color: lightseagreen;
}
.library {
    padding: 5px 10px;
    margin: 10px;
    border: 1px double black;
}

.library-header {
    font-weight: bold;
}

.installed-header {
    font-weight: bold;
    color: lightseagreen;
}

.library-footer {
    overflow: hidden;
}

.operation {
    float: right;
    padding: 2px 5px;
}