@import "theme";
.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.hidden {
    display: none;
}

.mask {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.arduinomanager-toolbar {
    min-height: 60px;
    padding: 10px 10px 0px 10px;
    position: fixed;
    width: 100%;
    z-index: 100;
    .btn-link {
        padding: 5px 5px;
    }
}

.arduinomanager-container {
    padding-top: 90px;
    padding-bottom: 40px;
}

.arduinomanager-footer {
    height: 40px;
    line-height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0px 10px;
}

.dropdown-filter {
    padding: 5px 5px;
    display: inline-block;
    .dropdown-label {
        margin-right: 5px;
    }
    .dropdown {
        button {
            text-align: left;
            width: 150px;
            .caret {
                left: 90%;
                top: 45%;
                position: absolute;
            }
        }
        .dropdown-menu {
            left: inherit;
            min-width: inherit;
            width: 150px;
            max-width: 150px;
            max-height: 250px;
            overflow: auto;
        }
    }
}

a {
    color: lightseagreen;
}

.help-link {
    @extend a;
    &:hover {
        cursor: pointer;
    }
}

.left-side {
    float: left;
}

.right-side {
    float: right;
}

.listitem {
    padding: 5px 10px;
    margin: 0px 10px 10px 10px;
}

.listitem-header {
    font-weight: bold;
}

.listitem-author {
    color: gray;
}

.listitem-installed-header {
    font-weight: bold;
    color: lightseagreen;
}

.listitem-container {
    padding-top: 2px;
}

.listitem-footer {
    padding: 5px 0px;
    height: 40px;
    .operation-btn {
        padding: 2px 6px;
        margin-right: 5px;
    }
    .dropdown {
        margin-right: 5px;
        button {
            width: 120px;
            padding: 2px 10px;
            text-align: left;
            overflow: hidden;
        }
        .caret {
            left: 90%;
            top: 45%;
            position: absolute;
        }
        .dropdown-menu {
            min-width: inherit;
            width: 120px;
            max-height: 200px;
            overflow: auto;
        }
    }
    .toolbar-mask {
        position: absolute;
        z-index: 9998;
        left: 20px;
        right: 20px;
        text-align: end;
        margin-top: -5px;
        height: 45px;
    }
}

.boardmanager {
    .dropdown-filter {
        float: left;
    }

    .search-input {
        margin-left: 195px;
        color: #333;
    }
    .arduinomanager-container {		
        padding-top: 90px;		
    }
}

.librarymanager {
    .listitem:last-child {
        margin-bottom: 40px;
    }
    .arduinomanager-toolbar {
        min-height: 80px;
    }
    .supported-checkbox {
        margin-top: 5px;
        margin-bottom: 0px;
        padding-left: 5px;
        label {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .search-input {
        color: #333;
    }
    @media only screen and (min-width: 560px) {
        .dropdown-filter {
            float: left;
        }
        .search-input {
            margin-left: 400px;
        }
       .arduinomanager-container {		
            padding-top: 115px;		
        }
    }
    @media only screen and (max-width: 559px) {
        .dropdown-filter {
            display: inline-block;
        }
        .arduinomanager-container {		
            padding-top: 160px;		
        }
    }
    @media only screen and (max-width: 405px) {
        .dropdown-filter {
            display: block;
        }
        .arduinomanager-container {		
            padding-top: 205px;		
        }
    }
}

.boardConfig {
    .react-selector {
        width: 70%;
    }
}