name: Remove labels from closed issues

on:
  issues:
    types:
      - closed

permissions:
  issues: write

jobs:
  label_issues:
    runs-on: ubuntu-latest
    steps:
      - name: Remove labels
        uses: andymckay/labeler@e6c4322d0397f3240f0e7e30a33b5c5df2d39e90
        with:
          remove-labels: triage, needs-more-info
